.coverage
__pycache__
/docs/_build
/chromag/plot/20211119*.csv
/chromag/plot/20211119*.png
/chromag/plot/20220624*.csv
/chromag/plot/20220624*.png
/chromag/plot/20230308*.csv
/chromag/plot/20230308*.png
