# Specification of the config file required to run the ChroMag pipeline. The
# options required to run the pipeline are: raw/basedir (or raw/routing_file),
# process/basedir (or raw/routing_file), and logging/basedir. All the other
# options change the default behavior or allow extra tasks to be done.


[raw]
# One of either basedir or routing_file must be set. The routing_file is a
# config file with a "chromag-raw" section where each option has a name of a
# STRMATCH expression for dates and value of a basedir location. For example,
# like:
#
#   [chromag-raw]
#   201701* : /some/location1
#   2017*   : /some/location2
#   2018*   : /some/location3
basedir            : type=str, optional
routing_file       : type=str, optional

# Send raw data to the archive (Campaign Storage).
archive            : type=boolean, default=YES


[process]
# Similarly to the raw section, one of basedir or routing_file must be set. The
# section in the routing file defining where to look for files based on the date
# is "chromag-process".
basedir            : type=str, optional
routing_file       : type=str, optional

# Directory to save and restore calibration files from.
caldir             : type=str, optional


[results]
# Control where published results go.
webarchive_basedir : type=str, optional
fullres_basedir    : type=str, optional


[archive]
# Control archiving tarballs to cold storage.
gateway_dir        : type=str, optional


[options]
# Top-level options controlling the running of the pipeline.


[intermediate]
# Control producing intermediate products after any of the processing steps.
dark_correction    : type=boolean, default=NO
flat_correction    : type=boolean, default=NO


[logging]
# Control the logging.

# Directory to save log files into.
basedir            : type=str, required

# Log level to save messages: DEBUG, INFO, WARNING, ERROR, or CRITICAL.
level              : type=str, default=DEBUG

# Whether to rotate logs when creating a new log, i.e., rename X.log to X.log.1,
# X.log.1 to X.log.2, etc. Set max_version to the highest value that saved.
# Logs with higher values will be deleted. Do not set max_version to keep all
# logs, set to 0 to not keep any logs.
rotate             : type=boolean, default=YES
max_version        : type=int, optional


[engineering]
# Options controlling the output of engineering data, i.e., files and plots for
# evaluating the performance of the instrument and pipeline software.

# Base directory for engineering output: files are placed in subdirectories,
# "{BASEDIR}/{YYYY}/{MM}/{DD}"". If not set, no engineering output will be
# produced.
basedir                         : type=str, optional


[notifications]
send               : type=boolean, default=YES
to                 : type=str, optional
from               : type=str, default=chromag-pipeline@ucar.edu


[database]
# Update the database.
update             : type=boolean, default=YES

# Login information for database(s). There could be multiple databases
# specified; only the one referenced by `config_section` will be used by the
# pipeline. For example, a file might have a section like this:
#
#   [mgalloy@webdev]
#   host     : webdev.hao.ucar.edu
#   user     : mgalloy
#   password : MYPASSWORD
#   port     : 3306
#   database : MLSO
config_filename    : type=str, optional
config_section     : type=str, optional


[level1]
# Options to control the level 1 processing.
process            : type=boolean, default=YES
archive            : type=boolean, default=YES
publish            : type=boolean, default=YES


[level2]
# Options to control the level 2 processing.
process            : type=boolean, default=YES
archive            : type=boolean, default=YES
publish            : type=boolean, default=YES


[level3]
# Options to control the level 3 processing.
process            : type=boolean, default=YES
archive            : type=boolean, default=YES
publish            : type=boolean, default=YES


##### Wave region specific handling #####

[587]
# Options to control the 587 nm processing.
process            : type=boolean, default=YES
archive            : type=boolean, default=NO
publish_l1         : type=boolean, default=NO
publish_l2         : type=boolean, default=NO


[617]
# Options to control the 617 nm processing.
process            : type=boolean, default=YES
archive            : type=boolean, default=NO
publish_l1         : type=boolean, default=NO
publish_l2         : type=boolean, default=NO


[656]
# Options to control the 656 nm processing.
process            : type=boolean, default=YES
archive            : type=boolean, default=NO
publish_l1         : type=boolean, default=NO
publish_l2         : type=boolean, default=NO


[854]
# Options to control the 854 nm processing.
process            : type=boolean, default=YES
archive            : type=boolean, default=NO
publish_l1         : type=boolean, default=NO
publish_l2         : type=boolean, default=NO


[1083]
# Options to control the 1083 nm processing.
process            : type=boolean, default=YES
archive            : type=boolean, default=NO
publish_l1         : type=boolean, default=NO
publish_l2         : type=boolean, default=NO
