# This file specifies various parameters used by the pipeline. Values may
# change over the life of the instrument. This file specifies the type of the
# variable and potentially an initial value, whereas `epochs.cfg` specifies the
# changes at specified dates. All values set in `epochs.cfg` must be for
# parameters defined in this file.

[DEFAULT]
# MLSO location
obs_latitude              : type=float, default=19.536
obs_longitude             : type=float, default=-155.576

# whether data files should be processed
process                   : type=boolean, default=YES

# image dimensions
nx                        : type=int, default=2560
ny                        : type=int, default=2160

# comma-separated list of routines from chromag.file.repair to call to repair
# raw files' headers or data
header_repair_routines    : type=str, default=""
data_repair_routines      : type=str, default=""

# specify quality and/or GBU conditions that should *NOT* be applied during a
# given epoch
cal_quality_exclusions    : type=str, default=""
quality_exclusions        : type=str, default=""
gbu_exclusions            : type=str, default=""

distortion_basename       : type=str
