# This file specifies changes in the instrument parameters over the life of the
# instrument. Any parameters listed in this file must be defined in
# `epochs.spec.cfg`.

# Date/times are in UT. Technically date/times are any valid strings parsable
# by `dateutil.parser.parse`, but lets try to stick to "2026-08-27T09:12:37" or
# "2026-08-27".

# [TODO]: update date when mission actually starts
[2020-11-06]
distortion_basename          : distortion.sav
