# This file specifies various parameters used by the pipeline. Values may
# change over the life of the instrument. This file specifies the type of the
# variable and potentially an initial value, whereas `epochs.cfg` specifies the
# changes at specified dates. All values set in `epochs.cfg` must be for
# parameters defined in this file.

[DEFAULT]
# whether data files should be processed
process                   : type=boolean, default=YES

# image dimensions
nx                        : type=int, default=2560
ny                        : type=int, default=2160

# comma-separated list of routines from chromag.file.repair to call to repair
# raw files' headers or data
header_repair_routines    : type=str, default=""
data_repair_routines      : type=str, default=""

distortion_basename       : type=str
